*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
}

:root{
    --cor_menu : #FFF599;
    --cor_menu_lateral : #639A67;
    --altura_cabecalho: 100px;
    --cor_painel1: #B0E1AF; 
    --partes_da_celula: #316799; 
    --fundo_painel_animal: rgb(145, 186, 224); 
    --verde_claro: #A7D397;
    --verde_escuro: #136447; 
    --verde_vegetal: #76bb71; 
    --azul_animal: #5689b9; 
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    background-color: var(--cor_menu);
    align-items: center;
    height: var(--altura_cabecalho);
    padding: 35px 40px; 
}

.cabecalho__detalhes {
    display: flex;
    align-items: center;
}

.cabecalho__detalhes__logo {
    height: auto;
    width: 70px;
    margin-left: 3px;
    object-fit: cover; 
}
.nome{
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 28px; 
    margin-left: 5px;
}
.cabecalho__detalhes__user{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover; 
}
.videeos{
    height: auto;
    width: 400px; 
    padding-left: 20px;
}
.cabecalho__detalhes__user:hover{
    transform: scale(1.2);
}
.partes_dela{
    display: inline-block;
}

nav li{
    display: inline-block;

}

nav li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    
}

nav li a:hover{
    background-color: rgb(101, 167, 197);
}

.menu_partes{
    position: absolute;
    box-shadow: 0  0 2px black;
    display: none;
}

.menu_partes a{
    display: block;
    color: black;
    
}

.partes_dela:hover .menu_partes{
    display: block;
}

.painel1{
    background-color: var(--cor_painel1); 
    height: 320px;
    padding: 115px;
}
.texto_painel1{
    font-family: 'Poppins', sans-serif; 
    font-size: 28px; 
    text-align: center;
}

.painel2{
    background-color: var(--cor_painel1); 
    border: 0px; 
    margin-top: 10px; 
    border-radius: 8px; 
    height: auto; 
    width: auto; 
} 
.painel3{
    background-color: var(--fundo_painel_animal); 
    border: 0px; 
    margin-top: 10px; 
    border-radius: 8px; 
    height: auto; 
    width: auto; 
} 
.painel4{
    background-color: var(--verde_claro); 
    border: 0px; 
    margin-top: 20px; 
    border-radius: 8px; 
    height: auto; 
    width: auto; 
} 
.texto_painel2{
    margin-left: 19px; 
    margin-top: 10px; 
    font-size: 19px; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.texto_painel3{
    margin-left: 19px; 
    margin-top: 15px; 
    font-size: 18px; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.texto_celula_animal{
    margin-left: 19px; 
    font-size: 18px; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.celula2{
    height: 240px;
    width: 430px;
    float: left;
    padding: 10px;
    border:none; 
}
.celula3{
    height: auto;
    width: 245px;
    float: left;
    padding: 10px;
    border:none; 
    margin-left: 90px;
}
.celula4{
    height: auto;
    width: 300px;
    float: left;
    padding: 10px;
    border:none; 
    margin-left: 90px;
}
.segundo_animal{
    margin-top: 70px;
}
.p_animal2{
    background-color: var(--partes_da_celula);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 20px; 
    margin-right: 20px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
    margin: 10px;
}


/* Partes da célula vegetal */
.texto_m{
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
    text-align: center;
    display: flex;
}

.pvegetal, .pvegetal2, .pvegetal3, .pvegetal4{ /*as classes que englobam as divs ficam juntas modificando a altura, bordar, cor etc.*/
    background-color: var(--verde_escuro);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 40px; 
    margin-right: 40px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
    margin: 10px;
}

.mitocondria{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.mitocondria11{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 108px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.ribossomos{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.lisossomos{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-left: 10px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.nucleo_e_nucleolo{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}

.cloroplasto{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    margin-right: 20px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
} 
.golgi{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-right: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}

.partes_celula_vegetal{
    margin-left: 90px; 
    font-size: 25px;
}
.pv{
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
}
.texto_m{
    padding-left: 18px;
    color: white;

}
.textom_m2{
    margin-left: 10px;
}
.celulas_animal_e_vegetal{  
    height: 120px;
    width: 120px;
    float: left;
    padding: 5px;
}
.nucleo{
    height: 120px;
    width: 130px;
    float: left;
    padding: 5px;
}

.reticulo {
    height: 105px;
    width: 105px;
    float: left;
    padding-left: 10px;
}

.celular{
    height: 190px;
    width: 190px;
    float: left;
    padding: 10px;
    border:none; 
}


.reticulo:hover, .celulas_animal_e_vegetal:hover, .nucleo:hover {
    transform: scale(1.2);
}

.celular:hover{
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .pvegetal, .pvegetal2, .pvegetal3, .pvegetal4 {
      width: 100%; 
    }
  }


/* Semelhanças */
.mitocondria_semelhanca{
    background-color: var(--cor_menu_lateral);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.p_animal3{
    background-color: var(--cor_menu_lateral);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 20px; 
    margin-right: 20px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
    margin: 10px;
}
.mitocondria_animal_semelhancas{
    background-color: var(--cor_menu_lateral);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.golgi_animal_semelhancas{
    background-color: var(--cor_menu_lateral);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-right: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
/* Animal */
.c_animal{
    padding: 30px;
    width: 60%;
    background-color: var(--azul_animal);
    border: var(--azul_animal);
    border-radius: 30px;
}
.text-animal{
    padding: 30px;
    width: 160%;
    background-color: var(--azul_animal);
    border: var(--azul_animal);
    border-radius: 15px;
}
.mitocondria_animal{
    background-color: var(--partes_da_celula);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.mitocondria_animal_mitocondria{
    background-color: var(--partes_da_celula);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-left: 145px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.golgi_animal{
    background-color: var(--partes_da_celula);
    width: 420px;
    height: 170px;
    margin-top: 20px; 
    border: none; 
    margin-right: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}


/* Vegetal */ 
.cvegetal{
    padding: 30px;
    width: 60%;
    background-color: var(--verde_vegetal);
    border: var(--verde_vegetal);
    border-radius: 30px;
}
.mitocondria_vegetal{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-left: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}
.pvegetal2_{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-left: 20px; 
    margin-right: 20px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
    margin: 10px;
}
.golgi_vegetal{
    background-color: var(--verde_escuro);
    width: 420px;
    height: 180px;
    margin-top: 20px; 
    border: none; 
    margin-right: 60px; 
    border-radius: 18px;
    color: white;
    display: inline-block;
}

.texto_imag{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 70px; 
    padding-bottom: 50px;
}

.text-li{
    padding: 30px;
    width: 160%;
    background-color: var(--verde_vegetal);
    border: var(--verde_vegetal);
    border-radius: 15px;
}

.cel_v{
    float: left;
    margin-top: 5%;
    padding: 50px;
}
.rodape{
    background-color: var(--cor_menu_lateral); 
    text-align: center; 
    color: white;
}

/* Responsividade do site */
@media (max-width: 1300px) {
    .cabecalho__detalhes__logo{
        height: auto; 
        width: 65px; 
    }
    .nome{
        font-size: 15px;
    }
    
    .cact{
        font-size: 0px;
    }
    .painel2{
        height: auto;
        width: auto;
    }
    .painel3{
        height: auto;
        width: auto;
    }
    .painel4{
        height: auto;
        width: auto;
    }
    .partes_celula_vegetal{
        font-size: 15px; 
        text-align: center;
    }
    .cabecalho__detalhes__user{
        height: 0px; 
        width: 0px; 
    }
    .partes_dela{
        display: flex;
    }
    .menu_icon {
        height: auto; 
        width: 13.33px; 
    } 
    .mitocondria_animal_mitocondria{
        width: auto;
        height: auto;
    }
    .user_icon{
        height: auto; 
        width: 20px;
    }
    .book_icon{
        height: auto; 
        width: 20px;
    }
    .texto_painel3{
        font-size: 15px;
    }
    .rodape{
        height: auto; 
        width: auto;
    }
    .texto_painel1{
        font-size: 20px;
    }
    .celula2{
        height: 210px;
        width: auto;
        margin-left: 10px;
        padding-right: 10px;
    }
    .celula3{
        height: 210px;
        width: auto; 
        padding-left: 20px;
        padding-right: 20px;
    }
    .mitocondria11, .pvegetal2, .mitocondria, .golgi, .mitocondria_vegetal, .pvegetal2_, 
    .golgi_vegetal, .mitocondria_semelhanca, .p_animal3, .mitocondria_animal_semelhancas,
    .p_animal3, .golgi_animal_semelhancas, 
    .p_animal2, .mitocondria_animal, .golgi_animal
    {
        padding-right: 20px;
        padding-left: 20px;
        height: auto; 
        width: auto; 
        margin-left: 5px;
        margin-right: 5px; 
        padding-top: 5px;
    }
    .mitocondria_animal_mitocondria{
        padding-right: 20px;
        padding-left: 20px;
        height: auto; 
        width: auto; 
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 20px;
    }
}