* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
}  
:root{
    --cor_cabecalho: #FFF599; 
    --cor_de_fundo: #C6FFCF; 
    --cor_painel1: #B0E1AF;
} 

body{
    background-color: var(--cor_de_fundo);
}
.cabecalho{
    background-color: var(--cor_cabecalho); 
    height: 80px; 
} 
.cabecalho_detalhes{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.cabecalho_detalhes2{
    display: flex; 
    align-items: center; 
}
.menu_icon{
    height: auto; 
    width: 30px; 
    margin-left: 15px; 
    margin-right: 5px;
}
.logo{
    height: 70px;
    width: 70px;
}
.nome_do_site{
    font-family: 'Poppins', sans-serif; 
    font-size: 28px; 
    margin-left: 10px; 
    margin-top: 5px;
} 
.user_icon{
    height: auto; 
    width: 37px; 
    margin-right: 10px;
} 
.book_icon{
    height: auto; 
    width: 37px; 
    margin-right: 5px; 
}
.painel1{
    background-color: var(--cor_painel1); 
    height: 220px;
}
.texto_painel1{
    font-family: 'Poppins', sans-serif; 
    font-size: 28px; 
}
.painel2{
    background-color: var(--cor_painel1); 
    border: 0px; 
    margin-top: 10px; 
    border-radius: 8px; 
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
} 
.texto_painel2{
    margin-left: 15px; 
    font-family: 'Poppins', sans-serif; 
    font-size: 19px;
}
.animal_e_vegetal1{
    height: auto;
    width: 600px; 
    margin-left: 20px;
}

@media (max-width: 800px) {
    .nome_do_site{
        font-size: 17px;
    }
    .menu_icon {
        height: auto; 
        width: 13.33px; 
    } 
    .logo{
        height: 46.6px;
        width: 46.6px;    
    }
    .user_icon{
        height: auto; 
        width: 20px;
    }
    .book_icon{
        height: auto; 
        width: 20px;
    }
}


































